@model List<AgroControl.Models.EventModelBase>
@{
    ViewData["Title"] = "Index";
    var page = 0;
}
<h1>Rejestr zdarzeń w gospodarstwie</h1>
<div class="row justify-content-end">
    <div class="col-md-2 col-sm-4 col-5">
        <a class="nav-item ac-link-dark font-weight-bolder" data-toggle="modal" data-target="#pdfGeneratorModal">
            <span class="oi oi-bar-chart ac-icon-primary px-2 pb-1"></span>
            Generuj
        </a>
    </div>
</div>

<div class="row justify-content-between mt-4">
    <div class="col-12 col-lg-4 mt-1 mb-3">
        <div class="card" style="">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action"
                    onclick="location.href='Event/CreateEventRejestrTransportu/'">
                    <img src="~/assets/general/delivery-truck.svg" width="50" />
                    Rejestr transportu
                </li>
                <li class="list-group-item list-group-item-action"
                    onclick="location.href='Event/CreateEventRejestrWejscWyjsc/'">
                    <img src="~/assets/general/farmer2.svg" width="50" />
                    Rejestr wejść/wyjść
                </li>
                <li class="list-group-item list-group-item-action"
                    onclick="location.href='Event/CreateEventDezynfekcja/'">
                    <img src="~/assets/general/tools.svg" width="50" />
                    Dezynfekcja
                </li>
                <li class="list-group-item list-group-item-action"
                    onclick="location.href='Event/CreateEventSpisZwierzat/'">
                    <img src="~/assets/general/pig.svg" width="50" />
                    Spis zwierząt
                </li>
                <li class="list-group-item list-group-item-action"
                    onclick="location.href='Event/CreateEventPrzegladZabezpieczen/'">
                    <img src="~/assets/general/farm.svg" width="50" />
                    Przegląd zabezpieczeń
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-lg-8">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Rodzaj zdarzenia</th>
                    <th scope="col">Data utworzenia</th>
                    <th scope="col">Opcje</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        string editAction = $"EditEvent{Model[i].EventType.ToString()}";
                        string deleteType = $"Event{Model[i].EventType.ToString()}";
                        <tr>
                            <th scope="row">@(i + 1)</th>
                            <td>@Model[i].EventType</td>
                            <td>@Model[i].CreatedDate</td>
                            <td>
                                <a asp-action="@editAction" asp-route-id="@Model[i].ID"
                                   data-toggle="tooltip" data-placement="top" title="Edytuj obiekt">
                                    <span class="oi oi-cog ac-icon-primary px-2 pb-1" />
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="Usuń obiekt">
                                    <span data-toggle="modal" data-target="#deleteModal"
                                          data-id="@Model[i].ID" data-type="@deleteType"
                                          data-action="Event/Delete/" class="oi oi-trash ac-icon-primary px-2 pb-1" />
                                </a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    @for (int i = 1; i <= ViewBag.Pages; i++)
                    {
                        @if (ViewBag.Current == i)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Event" asp-action="Index" asp-route-page="@i">@i</a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>


<div>
    @await Component.InvokeAsync("DeleteModal", new { })
    <partial name="_ReportGeneraotrModalPartial" />
</div>
